# MinIO system files
minio_data/.minio.sys/
minio_data/sales/raw/sales.csv/*

# Airflow logs
airflow-data/logs/
airflow-data/*.pid
airflow-data/*.sock

# Python temp files
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp

# OS files
.DS_Store
Thumbs.db

